<!-- Modal -->
<div
  class="modal fade"
  id="edit-activity-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editActivityModalTitle">
          Edit Activity
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="/admin/activity/<%- activity.id%>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <div class="mb-3">
            <label for="name">Activity Name</label>
            <input
              type="text"
              class="form-control name"
              id="name"
              placeholder="Enter activity name"
              name="name"
              value="<%= activity.name %>"
              required
            />
          </div>
          <div class="mb-3">
            <label for="qty">Type</label>
            <input
              type="text"
              class="form-control type"
              id="qty"
              placeholder="Enter type"
              name="qty"
              required
              value="<%= activity.type %>"
            />
          </div>
          <div class="mb-3">
            <label for="image">Image</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="imageUrl"
            />
            <span>Choose image to change this image</span>
            <span class="id"></span>
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
